body {
	font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	margin: 0 auto;
	max-width: 1024px;
	
}
/* =================== header =============== */
header {
	padding : 0 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerHome:hover{
color: darkblue;
transform: scale(1.1);
transition : ease 2ms
}
.picHeader {
	width: 40%;
}
.buttonHeader {
	border: 1px solid;
	border-radius: 6;
	font-weight: 600;
	padding: 8px 8px;
}
.headerTitle {
	font-family: "Helvetica";
	margin-right: 30px;
	padding: 4;
	text-decoration: none;
	font-size: 16px;
	color: black;
	font-weight: 700;
}
.headerTitle:hover {
	font-weight: bolder;
	font-size: 22px;
	transform: scale(1.1);
	transition: 200ms ease;
	/* transform: rotate(0.5turn); */
}

@media screen and (max-width: 400px) {

}
/* =================== todo =============== */
.hero{
	margin-top: 100px;
	margin-bottom: 80px;
	display: flex;
}
.heroH1{
	font-family: "lato";
	font-size: 54px;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 30px
}
.heroParagraph{
	font-size: 18px;
	max-width: 300px;
	margin-bottom: 40px;
	line-height: 1.4 
}

.heroButton {
	cursor : pointer;
	color: lightgoldenrodyellow;
	font-weight: 600;
	padding: 10px 16px;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
	background-image: linear-gradient(to right, rgb(27, 55, 179), rgb(93, 156, 175));
	transition: all 0.4s ease;
}

.fill-one {
	position: absolute;
	background-image: linear-gradient(to right, rgb(15, 54, 228), rgb(42, 217, 240));
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.heroButton:hover {
	-webkit-transform: translateY(-14px);
	-moz-transform: translateY(-14px);
	transform: translateY(-14px);
	background-image: linear-gradient(to right, rgb(15, 54, 228), rgb(28, 146, 161));
	transition: all 0.4s ease;
}
/* =================== todo =============== */
.todoContainer {
	margin-bottom: 2em;
}
.list {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 1.5em;
}
.crossed {
	text-decoration: line-through;
}
.iconDelete {
	margin-right: 10px;
}
fieldset {
	width: 450px;
	border-radius: 4px;
	border: 0.8px solid lightgrey;
}
input {
	font-weight: bold;
	font-size: 1em;
	margin-top: 8px;
	padding: 8px 4px;
	width: 280px;
	border-radius: 3px;
	border: 0.8px solid lightgrey;
	margin-right: 4px;
}
.buttonTodo {
	font-size: 1em;
	margin-top: 4px;
	padding: 8px 12px;
	background: lightgray;
	border-radius: 4px;
}

/* =================== Emoji =============== */
.line {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	width: 200px;
	height: 380px;
	margin: 20px auto;
}
.eachLine {
	border: none;
	background-color: rgb(220, 226, 250);
	padding: 3px;
	height: 30px;
	margin: 3px;
}

.eachLine:hover {
	background-color: rgb(141, 170, 250);
}
