body {
	font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	margin: 0 auto;
	max-width: 1024px;
	
}
/* =================== header =============== */
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.picHeader {
	width: 40%;
}
.buttonHeader {
	border: 1px solid;
	border-radius: 6;
	font-weight: 600;
	padding: 8px 8px;
}
.headerTitle {
	margin-right: 30px;
	padding: 4;
	text-decoration: none;
	font-size: 16px;
	color: black;
	font-weight: 700;
}
.headerTitle:hover {
	font-weight: bolder;
	font-size: 22px;
	transform: scale(1.1);
	transition: 200ms ease;
	/* transform: rotate(0.5turn); */
}

@media screen and (max-width: 400px) {
	header {
		/* flex-direction: column;
		align-items: flex-start;
		position: relative; */
	}
	.secondaryheader {
		/* margin-top: 25px;
		display: flex;
		flex-Direction: column;
		position: absolute;
		left: -15px; */
	}
}

/* =================== todo =============== */
.todoContainer {
	margin-bottom: 2em;
}
.list {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 1.5em;
}
.crossed {
	text-decoration: line-through;
}
.iconDelete {
	margin-right: 10px;
}
fieldset {
	width: 400px;
	border-radius: 4px;
	border: 0.8px solid lightgrey;
}
input {
	font-weight: bold;
	font-size: 1em;
	margin-top: 8px;
	padding: 8px 4px;
	width: 280px;
	border-radius: 3px;
	border: 0.8px solid lightgrey;
	margin-right: 4px;
}
.buttonTodo {
	font-size: 1em;
	margin-top: 4px;
	padding: 8px 12px;
	background: lightgray;
	border-radius: 4px;
}

/* =================== Emoji =============== */
.line {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	width: 200px;
	height: 380px;
	margin: 20px auto;
}
.eachLine {
	border: none;
	background-color: rgb(220, 226, 250);
	padding: 3px;
	height: 30px;
	margin: 3px;
}

.eachLine:hover {
	background-color: rgb(141, 170, 250);
}
